.overflow {
	overflow: auto;
	height: 100vh;
}

// thead {
// 	background-color: black;
// }

th {
	position: sticky;
	top: 0;
	z-index: 0;
}

tbody {
	position: relative;
	// top: 128;
	z-index: -2;
}
