@import "../../index.scss";

.hero {
	text-align: center;
	height: 100vh;
	background-color: $base-color;

	h1 {
		color: white;
		font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
			Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
			"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
			"Noto Color Emoji";
		font-weight: 700;
		font-size: 4rem;
	}

	.center {
		width: 100%;
		margin: 0 auto;
		position: absolute;
		top: 50%;
		-ms-transform: translateY(-50%);
		transform: translateY(-50%);
	}

	p,
	button {
		font-size: 1.5rem;
		color: white;
	}

	button {
		transition: transform 0.1s ease-in-out, box-shadow 0.2s ease-in-out;
		border: 0;

		&:hover {
			box-shadow: 0 0 10px white;
		}

		&:active {
			transform: scale(0.95);
		}
	}
}
