.user-card {
	border: 1px solid #f3f3f3;
	padding: 30px;
	width: 260px;
	border-radius: 20px;
	margin: 15px;
	transition: box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;
	height: 100%;

	&:hover {
		box-shadow: 0px 20px 35px rgba(0, 0, 0, 0.06);
		transform: translateY(-5px);
	}

	.bold {
		font-weight: bold;
	}

	.name {
		margin: 0;
		padding-bottom: 15px;
	}

	.card-body {
		padding-top: 15px;

		.card-text {
			margin: 0;
		}
	}
}
