@import "../../index.scss";

.user-card {
	@include hover-effect;

	border: 1px solid #f3f3f3;
	padding: 30px;
	width: 260px;
	border-radius: 20px;
	margin: 15px;
	height: 100%;

	.bold {
		font-weight: bold;
	}

	.name {
		margin: 0;
		padding-bottom: 15px;
	}

	.card-body {
		padding-top: 15px;

		.card-text {
			margin: 0;
		}
	}
}
