@mixin flex-center {
	display: flex;
	align-items: center;
}

* {
	color: black;
}

header {
	@include flex-center;

	justify-content: space-between;
	padding: 40px 60px;

	ul {
		display: flex;
		margin: 0;

		li {
			&:not(:last-child) {
				margin-right: 30px;
			}
			cursor: pointer;
		}
		list-style-type: none;
	}
}

.logo {
	@include flex-center;

	h3 {
		margin: 0;
		margin-left: 10px;
	}

	p {
		opacity: 0.5;
	}
}
