.show {
	display: block;
}

.hide {
	display: none;
}

.users-wrapper {
	margin-top: 72px;
}

.cards {
	display: flex;
	flex-wrap: wrap;
}

.groups {
	display: flex;
	align-items: center;
	justify-content: space-around;

	.group-item {
		border: 0.5px solid grey;
		border-radius: 5px;
		width: 13rem;
		height: 4rem;
		margin: 2px auto;

		p {
			margin: auto;
		}
	}
}
